[my_smz_menu] {
	flex: 15rem 0 0;
}

[my_smz_filters] {
	padding: var(--mol_gap_block);
}

[my_smz_works] {
	flex: 30rem 0 0;
}

[my_smz_work_list] {
	padding: var(--mol_gap_block);
}

[my_smz_work_link] {
	justify-content: space-between;
}

[my_smz_details] {
	flex: 30rem 1 0;
}

[my_smz_allow] {
	margin: 0 auto;
}
