[my_smz][mol_theme="$mol_theme_light"] {
	--mol_theme_back: hsl( 210 , 0% , 95% );
}

[my_smz] [mol_theme="$mol_theme_accent"] {
	--mol_theme_back: #56A93B;
	--mol_theme_hover: #46992B;
}

[my_smz] [mol_link] {
	border-radius: .25rem;
}

[my_smz] [mol_button] {
	border-radius: .25rem;
}

[my_smz] [mol_link][mol_link_current="true"] {
    background-color: var(--mol_theme_field);
}


[my_smz_menu] {
	flex: 15rem 0 0;
}

[my_smz_works] {
	flex: 36rem 0 0;
}

[my_smz_works_total] {
	padding: .5rem .75rem;
	color: #66B94B;
	font-weight: bolder;
}

[my_smz_filter],
[my_smz_work_link] {
	background: var(--mol_theme_field);
	flex-wrap: wrap;
	margin: .75rem;
	padding: 0;
	justify-content: flex-end;
}

[my_smz_filter] > *,
[my_smz_work_link] > * {
	margin: .5rem .75rem;
}

[my_smz_filter_title] {
	flex: auto 1 0;
}

[my_smz_work_title] {
	flex: 15rem 1 0;
}

[my_smz_work_deadline] {
	flex: 6rem 0 0;
}

[my_smz_works_allow],
[my_smz_quick_allow] {
	margin: 0;
	color: #66B94B;
	flex: 7rem 0 0;
	justify-content: flex-end;
	font-weight: bolder;
	text-align: right;
}

[my_smz_details] {
	flex: 28rem 0 0;
}

[my_smz_info] {
	padding: .75rem;
	flex-wrap: wrap;
}

[my_smz_info]>* {
	margin: .75rem;
}

[my_smz_allow] {
	margin: 0 auto;
}
